# dependências
node_modules/

# build
dist/
build/

# env
.env
.env.local

# sistema
.DS_Store
Thumbs.db

# executáveis e binários
*.exe
*.dll
*.bin

# supabase CLI (IMPORTANTE)
supabase/

# logs
*.log

# cache
.vite/